{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block body %}
    <marquee style="color: tomato">
        This portal is for individual registration only.
    </marquee>

    <!-- Home About Section Begin -->
    <section class="home-about-section" id="about-us">
        {% if popup %}
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Details Saved</h4>
                <p>Your details has been saved</p>
                <hr>
                <p class="mb-0">Registration Complete</p>
            </div>
        {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="ha-text bg-robot">
                        <h2>Registration</h2>
                        <form method="post">
                            <div class="form-group row">
                                <label for="name" class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" id="name" readonly class="form-control-plaintext"
                                           value="{{ name }}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="email" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" id="email" readonly class="form-control-plaintext"
                                           value="{{ email }}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="phone" class="col-sm-2 col-form-label">Phone</label>
                                <div class="col-sm-10">
                                    <input type="tel" class="form-control" value="{{ phone }}" name="phone"
                                           id="phone" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-2 col-form-label">Type</label>
                                <div class="col-sm-10">
                                    {% for key, value in user_types %}
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="type" id="{{ key }}"
                                                   value="{{ key }}" {% if key == type %} checked {% endif %}>
                                            <label class="form-check-label" for="{{ key }}">{{ value }}</label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="institution" class="col-sm-2 col-form-label">Institution</label>
                                <div class="col-sm-10">
                                    <input type="text" list="institutions" class="form-control"
                                           value="{{ institution }}"
                                           name="institution" id="institution" required>
                                </div>
                                <datalist id="institutions">
                                </datalist>
                            </div>
                            {% csrf_token %}
                            <button type="submit" class="primary-btn top-btn">
                                {% if not saved %}
                                    {% trans "Submit" %}
                                {% else %}
                                    {% trans "Edit" %}
                                {% endif %}
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        window.history.pushState({}, document.title, window.location.pathname);

        const debounce = (func, wait) => {
            let timeout;

            return function executedFunction(...args) {
                const later = () => {
                    clearTimeout(timeout);
                    func(...args);
                };

                clearTimeout(timeout);
                timeout = setTimeout(later, wait);
            };
        };

        function get_institutions(query) {
            fetch(`{% url "institution" %}?q=${query}`)
                .then(response => response.json())
                .then(({institutions}) => {
                    institutionList.innerHTML = '';
                    institutions.forEach(institution => {
                        const option = document.createElement('option');
                        option.value = institution;
                        option.innerText = institution;

                        institutionList.appendChild(option);
                    });
                });
        }

        // Dynamically populate a combobox with the list of institutions returned by the API as the user types using plain JavaScript
        const institutionInput = document.getElementById('institution');
        const institutionList = document.getElementById('institutions');

        institutionInput.addEventListener('input', debounce((e) => {
            const query = e.target.value;
            if (query.length < 1)
                return;

            get_institutions(query);
        }, 1000));

        get_institutions('');

    </script>
    <!-- Home About Section End -->
{% endblock %}
